
*.lock
*.exe
InterestCalculator.Tests/bin/Debug/InterestCalculator.exe.config
*.pdb
*.dll
InterestCalculator.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InterestCalculator.Tests/obj/Debug/InterestCalculator.Tests.csproj.CopyComplete
InterestCalculator.Tests/obj/Debug/InterestCalculator.Tests.csproj.CoreCompileInputs.cache
InterestCalculator.Tests/obj/Debug/InterestCalculator.Tests.csproj.FileListAbsolute.txt
InterestCalculator.Tests/obj/Debug/InterestCalculator.Tests.csprojResolveAssemblyReference.cache
InterestCalculator.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
InterestCalculator.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
InterestCalculator.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
InterestCalculator/bin/Debug/InterestCalculator.exe.config
InterestCalculator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InterestCalculator/obj/Debug/InterestCalculator.csproj.CoreCompileInputs.cache
InterestCalculator/obj/Debug/InterestCalculator.csproj.FileListAbsolute.txt
InterestCalculator/obj/Debug/InterestCalculator.csprojResolveAssemblyReference.cache
InterestCalculator/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
InterestCalculator/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
InterestCalculator/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
packages/NUnit.3.9.0/CHANGES.md
packages/NUnit.3.9.0/lib/monoandroid/nunit.framework.xml
packages/NUnit.3.9.0/lib/net20/nunit.framework.xml
packages/NUnit.3.9.0/lib/net35/nunit.framework.xml
packages/NUnit.3.9.0/lib/net40/nunit.framework.xml
packages/NUnit.3.9.0/lib/net45/nunit.framework.xml
packages/NUnit.3.9.0/lib/netstandard1.3/nunit.framework.xml
packages/NUnit.3.9.0/lib/netstandard1.6/nunit.framework.xml
packages/NUnit.3.9.0/lib/uap/nunit.framework.xml
packages/NUnit.3.9.0/lib/xamarin.ios/nunit.framework.xml
packages/NUnit.3.9.0/LICENSE.txt
packages/NUnit.3.9.0/NOTICES.txt
packages/NUnit.3.9.0/NUnit.3.9.0.nupkg
InterestCalculator/Properties/AssemblyInfo.cs
packages/NUnit3TestAdapter.3.9.0/build/net35/NUnit3TestAdapter.props
packages/NUnit3TestAdapter.3.9.0/build/netcoreapp1.0/NUnit3TestAdapter.props
packages/NUnit3TestAdapter.3.9.0/LICENSE.txt
packages/NUnit3TestAdapter.3.9.0/NUnit3TestAdapter.3.9.0.nupkg
.vs/InterestCalculator/v15/Server/sqlite3/storage.ide
.vs/InterestCalculator/v15/Server/sqlite3/storage.ide-shm
.vs/InterestCalculator/v15/Server/sqlite3/storage.ide-wal
